*, 
::before, 
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgb(15, 23, 42);
    margin: 0;
} 

body::-webkit-scrollbar {
    width: 0.1em;
}

header h1{
    color: rgb(203, 213, 225);
    font-weight: 600;
    font-size: 42px;
    text-align: center;
    margin: 20px;
}

main {
    max-width: 100%;
    height: 100%;
    margin: 10px auto 0;
    background-color: rgb(30, 41, 59);
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

nav {
    padding: 10px;
    background-color: rgb(30, 41, 59);
    position: sticky;
    top: 0;
    z-index: 99;
}

nav ul {
    padding-inline: 4rem;
    text-decoration: none;
    display: flex;
    gap: 2rem;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-weight: 550;
    color: rgb(203, 213, 225);
    transition: 0.4s;
    font-size: 18px;
}

nav a:hover,
nav a:active {
    background-color: rgb(51, 65, 85);
    padding: 7px 10px;
    border-radius: 5px;
    color: white;
}

.link-nav-active {
    padding: 7px 10px;
    box-sizing: border-box;
    background-color: rgb(51, 65, 85);
    border-radius: 5px;
}

.container {
    max-height: 100%;
    background-color: rgb(51, 65, 85);
    margin: 20px 20px 20px 60px;
    color: rgb(203, 213, 225);
    padding: 25px;
    border-radius: 8px;
    flex-wrap: wrap;
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    flex-basis: 70%;
}

article {
    width: 48%;
    background-color: rgb(43, 55, 73);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(76, 90, 110);
}

.judulnya {
    display: block;
    width: 100%;
    text-align: center;
    color: rgb(203, 213, 225);
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 550;
}

aside {
    max-height: 100%;
    margin: 20px 60px 20px 20px;
    background-color: rgb(51, 65, 85);
    color: rgb(203, 213, 225);
    padding: 25px 15px;
    border-radius: 8px;
    text-align: justify;
    flex-basis: 30%;
}

aside .gambar {
    align-items: center;
    align-items: center;
    justify-content: center;
}

.gambar img {
    /* width: 70%;
    border-radius: 50%; */
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    margin-bottom: 15px;
}

.list-gambar-anime img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

h2 {
    color: rgb(203, 213, 225);
    font-size: 24px;
    font-weight: 500; 
}

table {
    margin-bottom: 10px;
    table-layout: fixed;
}

.table-desc tr td{
    border: none;
    padding: 5px 15px 5px 0;
    text-align: start;
}

.table-judul  {
    font-weight: 500;
}

.p-desc{
    margin-bottom: 30px;
}

.p-desc .paragraf {
    margin-bottom: 20px;
    text-align: justify;
    display: block;
    line-height: 30px;
}

.table-profile tr td {
    border: none;
    padding: 5px 15px 5px 0;
}

.table-profile-td {
    font-weight: 500;
}

.social-media {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-media i {
    width: 50px;
    height: 50px;
    background-color: rgb(43, 55, 73);
    border-radius: 50%;
    font-size: 25px;
    color: white;
    line-height: 50px;
    transition: all 0.3s ease-out;
}

.social-media ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.social-media ul li{
    list-style: none;
}

.social-media i {
    transition: all 0.3s ease-out;
}

.social-media i:hover {
    background-color: rgb(76, 90, 110);
    border-radius: 50%;
}

footer {
    color: rgb(203, 213, 225);
    padding: 15px;
    text-align: center;
    font-weight: 550;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }

    header h1{
        font-size: 32px;
    }

    .paragraf {
        font-size: 12px;
    }

    nav {
        padding: 5px 20px;
    }

    nav li::marker {
        font-size: 15px;
    }

    nav li {
        list-style-type: disc;
        color: white;
        line-height: 18px;
    }

    .link-nav-active {
        padding: 7px 10px;
        border-radius: 3px;
    }

    nav ul {
        padding-inline: 1rem;
        gap: 1rem;
        flex-direction: column;
        margin: 5px 5px 5px 5px;
    }

    nav li a {
        font-size: 14px;
        color: rgb(203, 213, 225);
        font-weight: 550px;
    }

    main {
        flex-direction: column;
        margin: 0;
    }

    .judulnya{
        font-size: 24px;
    }

    h2 {
        color: rgb(203, 213, 225);
        font-size: 22px;
        font-weight: 500; 
    }

    .container {
        width: 100%;
        margin: auto;
    }

    article {
        width: 100%;
        margin-bottom: 5px;
    }

    aside {
        margin: 20px auto;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header h1{
        font-size: 32px;
    }

    .paragraf {
        font-size: 12px;
    }

    nav {
        padding: 5px 20px;
    }

    nav li::marker {
        font-size: 15px;
    }

    nav li {
        list-style-type: disc;
        color: white;
        line-height: 18px;
    }

    table td {
        font-size: 12px;
    }

    .link-nav-active {
        padding: 7px 10px;
        border-radius: 3px;
    }

    nav ul {
        padding-inline: 1rem;
        gap: 1rem;
        flex-direction: column;
    }

    nav li a {
        font-size: 14px;
        color: rgb(203, 213, 225);
        font-weight: 550px;
    }

    main {
        flex-direction: column;
        margin: 0;
    }

    .judulnya{
        font-size: 24px;
    }

    h2 {
        color: rgb(203, 213, 225);
        font-size: 20px;
        font-weight: 500; 
    }

    .container {
        width: 100%;
        margin: auto;
    }

    article {
        width: 100%;
        margin-bottom: 5px;
    }

    aside {
        margin: 20px auto;
        width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    body {
        font-size: 16px;
    }

    header h1{
        font-size: 32px;
    }

    nav ul {
        padding-inline: 1rem;
        gap: 1rem;
    }

    nav a {
        font-size: 18px;
    }

    main {
        flex-direction: column;
        margin: 10px 0;
    }

    .container {
        width: 100%;
        margin: auto;
    }

    article {
        width: 100%;
        margin-bottom: 5px;
    }

    aside {
        margin: 20px auto;
        width: 100%;
    }
}
